@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
/* scroll changes */
::-webkit-scrollbar{
width: 18px;

}
::-webkit-scrollbar-track{
background-color: #2e2f3148;
}
::-webkit-scrollbar-thumb{
    background:#2E2F31;
    border-radius: 10px;
    cursor: pointer;
   
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* navbar */
.for_responsive{
    height:100vh;
   width:0vw;
   background-color:#2e2f314d;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    z-index: 1000;
    border-radius:10px;
    position:fixed;
}
.active{
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;

}
@media (max-width: 980px){
.navbar{
    display: none;
}
.for_responsive{
    background-color:none;
}


}
@media (min-width: 980px){
   .toggle{
  display: none;
   }
 
   .navbar{
display: block !important;}
 .for_responsive{
    width: 0vw !important;
 }
  
  
    }
.toggle{
    
    height:38px;
    width:35px;
    border-radius: 10px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 100;
    cursor: pointer;
    position:fixed;
    right:10px;
    top: 10px;
  
}
.toggle div{
    width: 100%;
    height:3px;
    background-color:black;
   border-radius: 10px;
  display: block;
  margin: 5px auto;
}
.toggle .bar1{
    transform:rotate(1)
}
/* 
 */

.navbar {
    position: fixed;
    top: 50px;
    z-index: 1000;
}

nav ul {
    position: absolute;
    top: 200px;
    left: 10px;
}

nav li {
    border: 2px solid #2E2F31;
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: inline-flex;
    margin: 10px 0px;
    transition: all 1s;
    cursor: pointer;
}

nav li i {
    color: black;
    font-size: 25px;
    position: relative;
    bottom: 6px;
    width: 50px;
    border-radius: 50%;
    padding: 5px;
    height: 50px;

}

.nav-link {
    color: black;
}

nav li a {
    transition: all 1.5s;
    cursor: pointer;
    position: relative;
    
    color: black;
}

nav li a i {
    position: relative;
    top: 0px;

}

nav li a span {
 color: white;
opacity: 0;
    position: relative;
    right: 8px;

}

.nav-link i {
    color: black;
}

nav li:hover {
    width: 110px;
    transition: all 0.7s;
    background-color: #2e2f31f9;
    color: white;


}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li:hover .text {
    opacity: 1;
    transition: all 0.8s;
    color: white;
}

nav li:hover i {
    opacity: 1;
    transition: all 0.5s;
    color: white;
}
@keyframes nave {
    0% {
        position: absolute;
        left: -90px;
    }

    100% {
        position: absolute;
        left: 5px;
    }
}

nav {
    animation: nave 2s normal forwards;

}

/* introduction at first page */


.introduce {
    min-width: 100%;
    min-height: 100%;
    animation: filling 5s normal forwards;
   
    display: flex;
    align-items: center;
    justify-content: center;
}
.just {
    width: 75%;
    min-height:75%;
    text-align: center;
  
display: flex;
justify-content: center;
align-items: center;
  flex-wrap: wrap;
    box-shadow: rgba(50, 50, 93, 0.15) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
border-radius: 50px;

}
.just:hover .my_img{
    transform: scale(1.09);
    transition: transform 0.5s ease-in-out;
    transform: translateY(-1.5rem);
}
.just:hover{
   cursor: pointer;

}
.just .text_butt{
   display: block;
   margin:0 auto;
 margin-bottom: 50px;
  

   
  }

.just img {
    transition: transform 0.5s ease-in-out;
    height: 350px;
    width: 350px;
    
    border-radius:50%;
    
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom:5px;
    z-index: -1;
}


.text h1 {
    font-family: "Raleway", sans-serif;
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    color: #45505b;

}
/* auto writing */
.auto{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.aboutMe span {
    color: #45505b;
 font-weight: bold;
 font-family: 'Roboto Condensed', sans-serif;

}

/* introduction buttons */


.buttons {
    display: flex;
    justify-content: center;

}

.buttons a {
    display: block;
    min-width: 135px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .5s;
    margin: 8px;
    border-radius: 10px;

}

.buttons a span {
    position: relative;
    z-index: 2;
}

.buttons a:after {
    position: absolute;
    content: "";
    top: -0.9px;
    left: -1.1px;
    width: 0;
    height: 38px;
    background: #2E2F31;
    transition: all 1s;
    border-radius: 10px;
}

.buttons a:hover {
    color: #fff;
    border-radius: 10px;
}

.buttons a:hover:after {
    width: 102%;

    border-radius: 10px;
}


@keyframes filling {
    0% {
        position: absolute;
        top: -100px;
    }

    100% {
        position: absolute;
        top: 0px;
    }
}




.progress{
    background-color: #45505b5e;
    justify-content: flex-start;
    border-radius: 100px;
    border: 1px solid #333;
    align-items: center;
    position: relative;
    display: flex;
    height:12px;
    width: 300px;
  
}

.value{
   
   
    border-radius: 70px;
    background-color: #45505b;
   height:100%;
    width:0;
 


}
@keyframes office {
    0%{
        width: 0;
    }
    100%{
        width:100%;
    }
    
}

@keyframes adobe {
    0%{
        width: 0;
    }
    100%{
        width:70%;
    }
    
}

@keyframes Figma {
    0%{
        width: 0;
    }
    100%{
        width:80%;
    }
    
}


@keyframes Accounting {
    0%{
        width: 0;
    }
    100%{
        width:90%;
    }
    
}



@keyframes social {
    0%{
        width: 0;
    }
    100%{
        width:100%;
    }
    
}


@keyframes adobe {
    0%{
        width: 0;
    }
    100%{
        width:70%;
    }
    
}



@keyframes database {
    0%{
        width: 0;
    }
    100%{
        width:85%;
    }
    
}


@keyframes Java {
    0%{
        width: 0;
    }
    100%{
        width:88%;
    }
    
}

@keyframes HTML {
    0%{
        width: 0;
    }
    100%{
        width:100%;
    }
    
}

@keyframes CSS {
    0%{
        width: 0;
    }
    100%{
        width:83%;
    }
    
}


@keyframes js {
    0%{
        width: 0;
    }
    100%{
        width:65%;
    }
    
}

@keyframes React {
    0%{
        width: 0;
    }
    100%{
        width:50%;
    }
    
}
@keyframes Git {
    0%{
        width: 0;
    }
    100%{
        width:60%;
    }
    
}

@keyframes kurdish {
    0%{
        width: 0;
    }
    100%{
        width:100%;
    }
    
}
@keyframes arbic {
    0%{
        width: 0;
    }
    100%{
        width:85%;
    }
    
}
@keyframes english {
    0%{
        width: 0;
    }
    100%{
        width:70%;
    }
    
}
.skills{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
}

#technical{
    max-width: 50%;
    border: 2px solid #1c4369b6;
   display: block;
   margin: 0 auto;
   text-align: center;
   font-family: "Raleway", sans-serif;
   border-inline-width: 30px;
  
   border-radius:10px;
   margin-bottom: 40px;

   
}
.iteams_secound_page{
    position: relative;
    top: 90px;
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    animation: yalla 3s normal forwards;
}
@keyframes yalla {
    0%{
        position: relative;
        top:-20px;
    }
    100%{
        position: relative;
        top:30px;
    }
}

.iteams_secound_page span{
font-family: roboto,sans-serif;
}
.languages{
    width: 70%;
    height: 40%;
        display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
position: relative;
top: 40px;
}













   
    .university{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
       align-items:center;
        position: relative;
        top: 150px;
        min-height:85vh;
        width: 85%;
        margin: 0 auto;

    }
    .university .content{
        
        color: aliceblue;
        font-family: 'Roboto Serif', sans-serif;
        font-weight: bold;
        font-size: 30px;
        width: 100%;
        text-align: center;
        margin: 40px 0px 20px 0px;
      }
      .card
      {
          background-color: #ffffff;
          height: 350px;
          min-width:  365px;
          margin:50px 26px;
          position: relative;
          border-radius: 12px;
          transition: all 0.8s;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;      }
    .university img{
        height: 300px;
        width: 320px;
        position: absolute;
        left: 20px;
        top: -30px;
        border-radius: 12px;
        transition: all 0.5s;
        box-shadow: 8px 8px 10px #333;
    
    }
    
    .card:hover img{
     
        border-radius: 50%;
        transform: rotate(360deg);
        top: -100px;
        box-shadow: none;
    }
    .card:hover{
        height: 400px;
        
        cursor: pointer;
    }
    .box{
        text-align: center;
        transition: all 1s;
        position: absolute;
        bottom: 190px;
        padding: 10px;
        width: 100%;
      opacity: 0;
      line-height: 19px;

    }
    .box h1{
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        position: relative;
        top: 76px;
        font-size: 22px;
        
    }
    .box p{
        position: relative;
        top: 80px;
        font-family: 'Times New Roman', Times, serif;
     
    }
    .box a{
        position: relative;
        top: 100px;
        list-style: none;
        text-decoration: none;
        color:#45505b ;
        font-weight: bold;
        border: 2px solid #45505b;
        padding: 6px;
        border-radius: 10px;
        transition: all 1s;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .box a:hover{
        background-color: #45505b;
        color: white;
        box-shadow: 0px 3px 8px #45505b;
    }    
    .line{
        border-bottom:7px dotted #2E2F31;
        width: 25%;
        text-align: center;
        position: absolute;
        bottom: -7px;
        left:37%;


    }
    .line2{
        border-bottom:8px dotted #2E2F31;
        width: 25%;
        text-align: center;
        position: absolute;
        top: -210px;
        left:37%;


    }
    .card:hover .box{
      
        opacity: 1;
        
    }