@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    position: sticky;
    top: 50px;
}

nav ul {
    position: absolute;
    top: 200px;
    left: 10px;
}

nav li {
    border: 2px solid #2E2F31;
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: inline-flex;
    margin: 10px 0px;
    transition: all 1s;
    cursor: pointer;
}
.focus:focus ul{
background-color: red;}

nav li i {
    color: black;
    font-size: 25px;
    position: relative;
    bottom: 6px;
    width: 50px;
    border-radius: 50%;
    padding: 5px;
    height: 50px;

}

.nav-link {
    color: black;
}

nav li a {
    transition: all 1.5s;
    cursor: pointer;
    position: relative;
    
    color: black;
}

nav li a i {
    position: relative;
    top: 0px;

}

nav li a span {
 color: white;
opacity: 0;
    position: relative;
    right: 8px;

}

.nav-link i {
    color: black;
}

nav li:hover {
    width: 110px;
    transition: all 0.7s;
    background-color: #2e2f31f9;
    color: white;


}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li:hover .text {
    opacity: 1;
    transition: all 0.8s;
    color: white;
}

nav li:hover i {
    opacity: 1;
    transition: all 0.5s;
    color: white;
}

.text h1 {
    font-family: "Raleway", sans-serif;
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    color: #45505b;

}

.auto{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.aboutMe span {
    color: #45505b;
 font-weight: bold;
 font-family: 'Roboto Condensed', sans-serif;

}

.just {
    width: 88vw;
    height: 400px;
    text-align: center;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 90px;
    left: 30px;
}

@keyframes filling {
    0% {
        position: absolute;
        top: -100px;
    }

    100% {
        position: absolute;
        top: 0px;
    }
}

@keyframes nave {
    0% {
        position: absolute;
        left: -90px;
    }

    100% {
        position: absolute;
        left: 5px;
    }
}

nav {
    animation: nave 2s normal forwards;

}

.introduce {
    width: 90vw;
    animation: filling 5s normal forwards;
    position: relative;
    left: 72px;

}

.introduce img {
    height: 350px;
    width: 350px;
    text-align: center;
    position: relative;
    bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: center;

}

.buttons a {
    display: block;
    min-width: 135px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .5s;
    margin: 8px;
    border-radius: 10px;

}

.buttons a span {
    position: relative;
    z-index: 2;
}

.buttons a:after {
    position: absolute;
    content: "";
    top: -0.9px;
    left: -1.1px;
    width: 0;
    height: 38px;
    background: #2E2F31;
    transition: all 1s;
    border-radius: 10px;
}

.buttons a:hover {
    color: #fff;
    border-radius: 10px;
}

.buttons a:hover:after {
    width: 102%;

    border-radius: 10px;
}
.progress{
    background-color: #45505b5e;
    justify-content: flex-start;
    border-radius: 100px;
    border: 1px solid #333;
    align-items: center;
    position: relative;
    display: flex;
    height:20px;
    width: 300px;
}
.value{
   
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 70px;
    background-color: #45505b;
   height:30px;
    width:0;

}
@keyframes office {
    0%{
        width: 0;
    }
    100%{
        width:100%;
    }
    
}

@keyframes adobe {
    0%{
        width: 0;
    }
    100%{
        width:70%;
    }
    
}

@keyframes Figma {
    0%{
        width: 0;
    }
    100%{
        width:80%;
    }
    
}


@keyframes Accounting {
    0%{
        width: 0;
    }
    100%{
        width:90%;
    }
    
}



@keyframes social {
    0%{
        width: 0;
    }
    100%{
        width:100%;
    }
    
}


@keyframes adobe {
    0%{
        width: 0;
    }
    100%{
        width:70%;
    }
    
}



@keyframes database {
    0%{
        width: 0;
    }
    100%{
        width:85%;
    }
    
}


@keyframes Java {
    0%{
        width: 0;
    }
    100%{
        width:88%;
    }
    
}

@keyframes HTML {
    0%{
        width: 0;
    }
    100%{
        width:100%;
    }
    
}

@keyframes CSS {
    0%{
        width: 0;
    }
    100%{
        width:83%;
    }
    
}


@keyframes js {
    0%{
        width: 0;
    }
    100%{
        width:65%;
    }
    
}

@keyframes React {
    0%{
        width: 0;
    }
    100%{
        width:50%;
    }
    
}
@keyframes Git {
    0%{
        width: 0;
    }
    100%{
        width:60%;
    }
    
}

@keyframes kurdish {
    0%{
        width: 0;
    }
    100%{
        width:100%;
    }
    
}
@keyframes arbic {
    0%{
        width: 0;
    }
    100%{
        width:85%;
    }
    
}
@keyframes english {
    0%{
        width: 0;
    }
    100%{
        width:70%;
    }
    
}
.skills{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
}

#technical{
    width: 75%;
    border: 2px solid #1c4369b6;
   display: block;
   margin: 0 auto;
   text-align: center;
   font-family: "Raleway", sans-serif;
   border-inline-width: 30px;
   width: 30%;
   border-radius:10px;
   margin-bottom: 40px;

   
}
.iteams_secound_page{
    position: relative;
    top: 50px;
    width: 70%;
    display: block;
    margin: 0 auto;
}

.iteams_secound_page span{
font-family: roboto,sans-serif;
}
.languages{
    width: 70%;
    height: 40%;
        display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
position: relative;
top: 40px;
}